*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    letter-spacing: 0.4px;
}

body{
    background-image: url(images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
    background: linear-gradient(135deg, #96d1d1, hsl(180, 55%, 77%));
    background-repeat: no-repeat;
    background-size: cover;
    width: 450px;
    padding: 50px 40px;
    border-radius: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    box-shadow: 0 30px 50px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
    from{
        top: -50%;
    }

    to{
        top: 50%;
    }
}

h1{
    text-align: center;
    color: black;
    text-decoration: underline;
}

.wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}

.lbl {
    font-size: 18px;
    color: black;
    font-weight: 400;
    transition: color 0.3s ease;
}

#label {
    color: black;
}

.val{
    color: black;
    font-weight: 500;
    font-size: 20px;
    transition: color 0.3s ease;
}

.input-box {
    background-color: #fff;
    color: black;
    padding: 5px;
    transition: background-color 0.3s, color 0.3s ease;
}

#bill {
    background-color: transparent;
    border: none;
    outline: none;
    width: 100px;
    text-align: right;
    color: black;
    transition: color 0.3s ease;
}

hr{
    border: none;
    border-bottom: 1px solid #fff;
}

input[type="range"]{
    width: 100%;
    cursor: pointer;
    appearance: none;
    height: 2px;
    border-radius: 2px;
    background-color: #fff;
    outline: none;
    transition: background-color 0.3s ease;
}

input[type="range"]::-webkit-slider-thumb{
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #38697c;
    transition: background-color 0.3s ease;
}

section:not(:last-child){
    margin-bottom: 40px;
}

section:not(:first-child){
    margin-top: 40px;
}

section:last-child{
    background-color: #fff;
    padding: 10px;
    border-radius: 5px;
    animation: fadeIn 1s ease forwards;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

section:last-child .value1,
section:last-child .label1{
    color: black;
    transition: color 0.3s ease;
}

.footer {
    font-size: 16px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: transparent;
    color: black;
    text-align: center;
}